body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0.15rem;
    margin: 0;
    text-align: center;
    background-color: blanchedalmond;
}

article {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}

h1 {
    color:black;
}

nav {
    margin: 0 auto;
    padding: 0.15rem;
    background-color: blanchedalmond;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 2rem;
    text-decoration: none;
    margin: 0;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

footer {
    margin-top: 4rem;
    font-size: 80%;
    padding: 0.5rem;
    text-align: center;
    background-color: blanchedalmond;
}

figcaption {
    font-size: 80%;
    text-align: center;
}

hr {
    size: 0.15rem;
    width: 75%;
    text-align: center;
}

dl {
    padding: 1rem;
}

dt {
    font-weight: bold;
}

::placeholder {
    font-size: 90%;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#kontaktformular {
    width: 45%;
    margin: 0 auto;
}

.inputRadio {
    display: block;
}

.form_buttons {
    padding: 1rem;
    text-align: center;
}

.formular {
    display: flex;

}

.formular > * {
    padding: 1rem;
    margin: 0.4rem;
    flex-basis: 35%;
}

.zooMain {
    padding: 1rem;
}

#welcomeimg {
    width: 40%;
    margin: 0 auto;
    display: block;
}

#pandabild {
    width: 20%;
    padding: 1rem;

}

table {
    width: 100%;
    text-align: center;
}

td {
    padding: 0.2rem;
}

#patenkinder {
    padding: 1.5rem;
}

#lgd_patenkinder {
    font-size: 90%;
}